body{
    background-image: url("../images/pokebg.jpg");
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 60px;
    color: #ffcb05;
    text-shadow: -3px -3px 0 #2c71b8,
                 3px -3px 0 #2c71b8,
                 -3px 3px 0 #2c71b8,
                 3px 3px 0 #2c71b8;
    letter-spacing: 5px;
}

.page-header {
    text-align: center;
    margin-bottom: 30px;
}

.container{
    background-color: white;
    opacity: .7;
    height:250%;
    width:80%;
    padding: 40px;
    text-align: center;
}

.item {
    display: inline-block;
    margin: 5px;
}

button {
    font-family: 'Bangers',cursive;
    letter-spacing: 2px;
    font-size: 40px;
    margin-bottom: 5px;
    margin-right: 5px;
}
p {
    font-family: 'Amaranth', sans-serif;
    font-size: 20px;
}
#poke-form{
    font-family: 'Amaranth', sans-serif;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: solid grey 2px;
}

h2 {
    font-family: 'Bangers', cursive;
    color: black;
    letter-spacing: 2px;
}

#favorites {
    font-size: 10px;
    font-family: 'Amaranth', sans-serif;
}

#favorites-added{
    border: solid 2px black;
    padding: 10px;
}

#gifs-added{
    border: solid 2px black;
    padding: 10px;
    margin-right: 70px;
}

#clear {
    font-size: 10px;
    font-family: 'Amaranth', sans-serif;
}